# Common deps
brew "chezmoi"
brew "atuin"
brew "eza"
brew "fzf"
brew "git"
brew "glances"
brew "htop"
brew "jj"
brew "mise"
brew "neovim"
brew "zellij"
brew "zsh"
brew "zsh-completions"
brew "zsh-syntax-highlighting"
brew "zoxide"

# Common Apps
cask "Alfred"
cask "daisydisk"
cask "firefox"
cask "forklift"
cask "ghostty"
cask "hazel"
cask "keepingyouawake"
cask "rectangle"
cask "visual-studio-code"
cask "font-fira-code"


{{ if ne .chezmoi.hostname "hidden-base" }}
# Standard
brew "ack"
brew "awscli"
brew "gh"
brew "gnupg"
brew "jq"
brew "luarocks"
brew "libpq"
brew "mas"
brew "ripgrep"
brew "sq"
brew "starship"
brew "telnet"
brew "tree"
brew "wget"
brew "pgstream"

# Apps
cask "1password-cli"
cask "appcleaner"
cask "craft"
cask "claude"
cask "claude-code"
cask "discord"
cask "google-chrome"
cask "jetbrains-toolbox"
cask "kaleidoscope"
cask "miro"
cask "onyx"
cask "orbstack"
cask "shottr"
cask "spotify"
cask "session-manager-plugin"
cask "transmission"
cask "vlc"

# App Store
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825 
mas "Pages", id: 409201541 
mas "Slack", id: 803453959
{{ else }}
# Plex server specific
cask "filebot"
brew "rclone"
brew "watch"
{{ end }}
